

html, body {
  background-color: darkolivegreen;
  color: ghostwhite;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  padding: 70px;
}


button {
  padding: 15px;
  font-size: 1.3rem;
  margin-right: 5px;
}

